# Source Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=logistics_db
DB_USER=your_source_db_user
DB_PASS=your_source_db_password

# Docker / Postgres Service
POSTGRES_USER=your_source_db_user
POSTGRES_PASSWORD=your_source_db_password
POSTGRES_DB=logistics_db
